@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #ce0101;
    --secondary-color: #0084ff;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* Variables end */

html {
    scroll-behavior: smooth;
}


body {
    color: #fff;
    text-align: center;
    background-image: url('https://thumbs.gfycat.com/HarmoniousFatalLcont.webp');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    font-family: var(--font-family);
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: forwards;
}




/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myName {
    font-family: 'Courier New';
    font-size: 25px;
}

.iam {
    color: #fff;
    font-size: 55px;
    padding: 15px;
    font-family: sans-serif;
}

.text {
    color: white;
    border-right: 2px solid red;
    font-size: 40px;
    font-family: sans-serif;
    color: red;
}

span {
    visibility: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}


nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

nav ul li a {
    font-size: 15px;
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    position: relative;
    left: -100px;
    height: 35.7rem;
    width: 35.7rem;
}

.bio {
    height: 200px;
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    background-color: var(--bg-color);
    opacity: 0.8;
    padding: 1rem 6rem;
    color: black;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    color: black;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

/*
.contact-form-container label {
    line-height: 2.7em;
    color: skyblue;
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset skyblue;
    font-size: 0.875rem;
    outline: none;
} */

.input-field::placeholder {
    padding: 0.5rem;
    color: rgb(255, 255, 255);
}

/* .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid skyblue;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: skyblue;
    border: 2px solid skyblue;
    cursor: pointer;
} */

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    color: black;
    margin: 2rem 0 0;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        height: 37.5rem;
        width: 30rem;
        left: -100px;

    }

    .bio {
        margin-top: -17rem;
        margin-right: -20px;
        width: 20.5rem;
    }

    .more-about {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .more-about h2 {
        text-align: center;
    }

    .more-about p {
        text-align: justify;
    }

    .icon {
        width: 5.875rem;
        height: 5.25rem;
    }

    .projects-container {
        flex-direction: column;
    }

    .project-container {
        width: 20.875rem;
    }

    .contact-form-container {
        max-width: 23.75rem;
    }

    /*changes reflects on screen with a width of 720px and below*/
}

@media screen and (max-width: 420px) {
    .hero img {
        height: 37.5rem;
        width: 23rem;
    }

    .bio {
        width: 18.3rem;
    }

    .project-container {
        width: 17.875rem;
    }

    .contact-form-container {
        max-width: 17.75rem;
    }
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    color: #fff;
}

form h2 {
    color: rgb(22, 228, 255);
    font-weight: 800;
    margin-bottom: 20px;
}

form input,
form textarea {
    border: 0;
    color: #fff;

    border-bottom: 1px solid skyblue;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: transparent;
    font-size: 16px;

}

form button {
    position: relative;
    padding: 18px 30px;
    background: #444;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 480;
    transition: 0.5s;
    border: 0;
    width: 150px;
    margin: 0 auto;
}

form button:hover {
    letter-spacing: 0.25em;
    width: 200px;
    cursor: pointer;
    background: rgba(68, 68, 68, 0.432);
    color: #ff182c;
    border: 2px solid #ff182c;
    box-shadow: 0 0 35px #ff182c;
    transform: translateX(0);
    outline: none;
}
button i{
    position: absolute;
    inset: 0;
    display: block;
}
button i::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    width: 10px;
    height: 10px;
    background: #27282c;
    border: 2px solid #ff182c;
    transform: translateX(-50%);
transition: 0.5s;
}
button:hover i::before{
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
box-shadow: 40px 39px #ff182c;
}

button i::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #27282c;
    border: 2px solid #ff182c;
    transform: translateX(-50%);
transition: 0.5s;
}
button:hover i::after{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
box-shadow: 38px -39px #ff182c;
}